 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #2d3c77, #9938fa);
    display: flex;
    justify-content: center;
    align-items: center;
} 

.login-container {
    background: #ffffff;
    padding: 30px; 
    border-radius: 30px;
    box-shadow: 0 50px 35px rgba(0,0,0,0.2);
}
         
.login-container h2 {
    margin-bottom: 20px;
}

label {
    font-size: 15px;
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 15px;
    border: 1px solid #000000;
}

input:focus {
    outline: none;
    border-color: #747474;
}

button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background: #4f69d2 ;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #5563c1;
}

.forgot {
    display: block;
    text-align: center;
    margin-top: 15px;
    text-decoration: none;
    color:#4769d2;
    font-size: 14px;
}

.forgot:hover {
    text-decoration: underline;
}
