*{
    padding: 0px;
    margin: 10px;
    box-sizing: border-box;
}  
  body{
    font-family:  Helvetica, Arial , sans-serif;
    background-color: #f2f4f7;
  }

 .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
 }


 .leftbox{
    width: 40%;
 }
  .fimg img {
    height: 106px;
    width: 350px;
    margin-bottom: 0px;  
    padding-left:  0px ;  
    margin-left: 0%; 
    object-fit: cover;      
        }
 
  .leftbox p{
    margin-top: 0px;
    font-family: Helvetica;
font-size: 25px;
font-weight: 500;
width: 440px;
  }
.rightbox{
    margin: 50px;
    background-color: #ffffff;
    width: 400px;
    height: 30%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}
.email input {
    margin: 10px;
    width: 95%;
    font-size: 20px;
 padding: 14px 16px;
 border-radius: 5px;
  border: 1px solid black;
  outline: none;
}
.email input:focus {
      border-color: #0866ff;
}

.passward input {
    background-color: white;
    font-size: 20px;
 width: 95%;
 padding: 14px 16px;
 margin: 10px;
 border: 1px solid rgb(0, 0, 0);
 border-radius: 5px;
 outline: none;
}
.passward input:focus{
     border-color: #0866ff;
}

.loginbtn button{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    background-color: #0866ff;
    width: 95%;
    padding: 14px 16px;
    margin: 10px;
border-radius: 5px;
border: none;
cursor: pointer;
}
.loginbtn button:hover{
    background-color:  #0f7bff;
}

.forgot a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #0866ff;
    font-size: 14px;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
}
.cra a{
    display: flex;
    justify-content: center;
    height: 48px;
    width: 190px;

    color: #ffffff;
    font-size: 17px;
    background-color: #42b72a;
    padding: 14px 16px;
    margin-left: 95px;
border-radius: 5px;
border: none;
cursor: pointer;
text-decoration: none;
}
.cra a:hover{
    background-color: #168200;
}
.cotaint {
    display: flex;
    justify-content: flex-end;
    margin-right: 110px;
    font-size: 14px;
}
.cotaint a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-top: 0px;
    font-weight: 600;
}
footer{
    width: 100%;
    background-color: #ffffff;
    margin-top: 20px;
}
footer > hr{
    margin:50px 0px;
}
.foot {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 50px;
}
.foot a{
    color: gray;
    font-size: 12px;
    text-decoration: none;
}